<div class="full_container">
    <div class="container">
       <div class="center verticle_center full_height">
          <div class="error_page">
             <div class="center">
                <div class="error_icon">
                   <img class="img-responsive" src="assets/images/layout_img/error.png" alt="#">
                </div>
             </div>
             <br>
             <h3>PAGE NOT FOUND !</h3>
             <div class="center"><a class="main_bt" routerLink="/mainU">Go To Home Page</a></div>
          </div>
       </div>
    </div>
 </div>
