<div class="dashboard dashboard_1">
    <div class="full_container">
       <div class="inner_container">

            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                <div class="sidebar_user_info">
                    <div class="user_profle_side">
                        <div class="user_info">
                            <h6>Welcome To Tools</h6>
                        </div>
                    </div>
                </div>
                </div>

                <div class="sidebar_blog_2">
                <ul class="list-unstyled components">
                    <li><a routerLink="/admin/mainA"><i class="fa fa-home yellow_color"></i> <span class="intitule">Home</span></a></li>
                    <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false"><i class="fa fa-object-group blue1_color"></i> <span class="intitule">Activities</span></a>
                        <ol class="collapse list-unstyled" id="dashboard">
                            <li *ngFor="let a of lesActivites">
                                <a (click)="onDetails(a.id)" style="cursor: pointer;"><span class="act">> {{a.name}}</span></a>
                             </li>
                        </ol>
                    </li>
                    <li><a routerLink="/admin/addA"><i class="fa fa-plus-square red_color"></i> <span class="intitule">Add Activities</span></a></li>          
                </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content" >
                <!-- topbar -->
                <div class="topbar">
                <nav class="navbar " >
                    <div class="full">
                        <div class="logo_section">
                        <img class="img-responsive" id="logoActia"src="assets/images/logo/logo-actia.png" alt="ERREUR!" />
                        </div>
                    </div>
                </nav>
                </div>
                <!-- end topbar -->
                <div class="view jarallax" data-jarallax='{"speed":0.2}' style="background-image:url('../../../../{{act.image}}');background-repeat: no-repeat; background-size: cover;background-position: center center; color: white; height: 100%;">
                    <div class="overlay  ">
                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                            <div class=" m-5 page-wrapper p-t-100p-b-100 font-robo">
                                <div class="wrapper wrapper--w680">
                                    <div class="card card-1">
                                        <img width="100%"[src]="act.image" alt="">
                                        <div class="card-body">
                                            <h2 style="text-align:center;color: rgb(35, 155, 35);font-family: Georgia,'Times New Roman', Times, serif;" class="title ">{{act.name}}</h2>
                                            <strong>Description:</strong>
                                            <br>
                                            {{act.description}}
                                            <br>
                                            <br>
                                            <strong>Technologie:</strong> <br>{{act.technology}}
                                            <br>
                                            <br>
                                            <button style="margin-left:38%;margin-bottom:5%;background-color: green;" class="btn btn-sm btn-outline-success" (click)="onEdit()">Edit Activity</button>        
                                        </div>
 
                                        <!-- Le profile du chef -->
                                     <ng-container *ngFor="let a of act.equipe, index as i" >
                                        <div  *ngIf="act.equipe[i].role== 'chef'"  class="container profile-page chef ">
                                            <div class="row">
                                                <div class="  col-md-12">
                                                    <div class="card1 profile-header custom1-card1 profile-card">
                                                        <div class="body">
                                                            <div class="row">
                                                                <div class=" col-md-4 " style="width: auto;">
                                                                    <div class="profile-image float-md-right" id="pic" >
                                                                        <img [src]="act.equipe[i].image" alt >
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-12 deschef">
                                                                    <h4 class="m-t-0 m-b-0"><strong>{{act.equipe[i].firstName}}</strong> {{act.equipe[i].lastName}}</h4>
                                                                    <span class="job_post">{{act.equipe[i].role}}</span>
                                                                    <a title="linkidin" style="margin-left: 4%;" >
                                                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                                                         <path style="color: rgb(52, 57, 200);" d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                                                                     </svg>
                                                                     </a>
                                                                     <br>
                                                                     <a routerLink="/admin/modifP" style="margin-right:4%;margin-left: 3%;">
                                                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                             <path style="color: rgb(102, 183, 102);" d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                                             <path style="color: rgb(126, 197, 126);" fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                                         </svg>
                                                                     </a>
                                                                     <a (click)="onDeleteP(i)">
                                                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                                             <path style="color: red;" d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                                                         </svg>
                                                                     </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                     
                                     </ng-container>
                                     
                                        <!-- End du Le profile du chef -->
                                        
                                         <div  class="container profile-page"   >
                                             <div class="row" >
                                                 <!-- premier Profil -->
                                             <ng-container *ngFor="let a of act.equipe, index as i" >
                                                 <div class="col-md-6"  *ngIf="act.equipe[i].role != 'chef'"   >
                                                     
                                                     <div class="card1 profile-header custom1-card1 profile-card"   >
                                                         <div class="body" >
                                                             <div class="row">
                                                                 <div class="col-md-4" >
                                                                     <div class="profile-image float-md-right"> 
                                                                         <img [src]="act.equipe[i].image" alt style="width: 100px; height: 100px;"> 
                                                                     </div>
                                                                 </div>
                                                                 <div class="col-md-8">
                                                                     <h4 class="m-t-0 m-b-0"><strong>{{act.equipe[i].firstName}}</strong>{{act.equipe[i].lastName}}</h4>
                                                                     <span class="job_post">{{act.equipe[i].role}}</span>
                                                                     <a [href]="act.equipe[i].linkdin" title="linkidin" style="margin-left: 4%;" >
                                                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                                                             <path style="color: rgb(52, 57, 200);" d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                                                                         </svg>
                                                                     </a>
                                                                     <br>
                                                                     <a routerLink="/admin/modifP" style="margin-right:4%;margin-left: 3%;">
                                                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                             <path style="color: rgb(102, 183, 102);" d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                                             <path style="color: rgb(126, 197, 126);" fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                                         </svg>
                                                                     </a>
                                                                     <a (click)="onDeleteP(i)">
                                                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                                             <path style="color: red;" d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                                                         </svg>
                                                                     </a>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                 </div>
                                         </div>
                                     </ng-container>
                                                 <div class="col-md-6">
                                                     <div class="card1 profile-header custom1-card1 profile-card">
                                                         <div class="body dev ">
                                                             <div class="row">
                                                                 <div class="col-md-8">
                                                                     <div>
                                                                         <button style="margin-left:50%;margin-top:11%;background-color: rgba(75, 104, 162, 0.881);" class="btn btn-sm btn-outline-secondary" (click)="onAddMembre()"><i class="fa fa-plus-circle" > </i>Members</button>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                         </div>
                                    </div>
                                         <div>
                                             <button (click)="onDeleteAct()" style="margin-left:43% ;margin-bottom: 10%;background-color: rgb(199, 19, 19);" class="btn btn-sm btn-outline-danger" >Delete Activity</button>
                                         </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
 
 
            </div>
        </div>
    </div>
</div>



