<!-- user -->
<!-- <app-main-user></app-main-user> -->
<!-- <app-details-activite></app-details-activite>   -->
<!-- <app-about-us></app-about-us>  -->
<!-- <app-maps></app-maps> -->

<!-- <app-login></app-login> -->

<!-- Admin -->
<!-- <app-main-admin></app-main-admin> -->
<!-- <app-show-activities></app-show-activities> -->
<!-- <app-activite-d></app-activite-d>  -->
<!-- <app-add-activities></app-add-activities>  -->
<!-- <app-modif-activities></app-modif-activities>  -->
<!-- <app-add-personne></app-add-personne> -->
<!-- <app-modif-personne></app-modif-personne> -->
<!-- <app-changer-mdp></app-changer-mdp> -->


<!-- <app-error></app-error> -->

<router-outlet></router-outlet>
